//<logo>
.wraper-logo{
	background-color: #242424;
}
.logo{
  a{
		float: left;
  	color: #57c5a0;
  	font-size: 2.8rem;
  	text-decoration: none;
  	padding-left: 1vw;
  }
	a:hover{
		text-decoration: none;
		color: #57c5a0;
	}
}
.wraper-login{
	padding-right: 0px !important;
}
.login{
	float: right;
	text-decoration: none;
	border-left: 1px solid #dfdbd4;
	border-right: 1px solid #dfdbd4;
	padding: 0.8vw 4.12vw 0.6vw 4.12vw;
	text-align: center;
	a{
		color: silver;
		font-size: 1rem;
	}
	span{
		padding: 0 5px 0 5px;
		color: #dfdbd4;
		font-size: 1rem;
	}
	a:hover{
		text-decoration:underline;
		color: #57c5a0;
	}
}
//<NavBarTitle>
.navb{
	margin-bottom: 0px !important;
	border: none !important;
}
.wraper-collapse{
	padding: 0px 0px 0px 0px !important;
	i{
		padding-right: 5px;
	}
	i:hover{
	color: #57c5a0;
	transition: 0.5s ease-out;
}
}
.navbar-default{
	background-color: #fff !important;
	background-image: none !important;
}
.navbar{
	border: none;
}
.nav-i{
	border-left: 1px solid silver;
	width: 8vw;
	text-align: center;
}
.item{
	border-right: 1px solid silver;
}
.right{
	margin-right: 45px !important;
	float: right !important;
}
//<Collection>
.top-collection{
	background-color: #f0ede8;
}
.img-foto{
	width: 100%;
}
.top-collection-price{
	width: 60px;
	height: 60px;
	background-color: #57c5a0;
	margin-top: 5vw;
	span{
		text-align: center;
	}
}
.top-collection-price-sales{
	width: 100%;
	float: left;
	padding-top: 20px;
}
.top-collection-title{
	font-size: 2.2rem;
}
.top-collection-text{
	font-size: 1.5rem;
}
.top-collection-social a{
	width: 40px;
	height: 40px;
	background-color: #fff;
	float: left;
	margin-right: 3px;
	text-align: center;
	i{
		padding-top: 12px;
		color: #242424;
	}
	&:hover i{
		color: #57c5a0;
		transition: 0.5s ease-out;
	}
}
//<NavTabs
.nav-center{
	background-color: #2e2e2e;
	padding-top: 15px;
	padding-bottom: 15px;
}
.main-menu a{
	color: #dfdbd4;
	font-size: 1.1rem;
}
.main-menu-title{
	font-size: 1.6rem;
	font-weight: 700;
}
.nav-tabs>li.active>a{
	background: #57c5a0 !important;
}
.nav-tabs li a{
	border-left: 1px solid #2e2e2e !important;
	border-right: 1px solid #2e2e2e !important;
	border-top: 6px solid #57c5a0 !important;
	border-bottom: 1px solid #2e2e2e !important;
}
//<SlideShow/>
.collection{
	background-color: #242424 !important;
	padding-top: 20px;
}
.collection-foto{
	background-color: #242424 !important;
	img{
		background-color: #242424;
		}
	&:hover{
		border-color:#57c5a0 !important;
		transition: 0.5s ease-out !important;
	}
}
//<NavTabsContent>
.center{
	background-color: #f0ede8;
	padding-top: 5px;
	span{
		padding-left: 25px;
		font-size: 2.5rem;
	}
}
.show-shose{
	float: right;
	padding-right: 15px !important;
	button{
		color: #bcb5a7 !important;
		background-color: #ebe7df !important;
		border: 1px solid #bcb5a7 !important;
	}
	button:hover{
			color:#57c5a0 !important;
			border: 1px solid #57c5a0 !important;
			transition: 0.5s ease-out !important;
		}
}
.close-shose{
	float: right;
	button{
		color: #bcb5a7 !important;
		background-color: #ebe7df !important;
		border: 1px solid #bcb5a7 !important;
	}
	button:hover{
			color:#57c5a0 !important;
			border: 1px solid #57c5a0 !important;
			transition: 0.5s ease-out !important;
		}
}
//<BlogNews>
.wraper-news{
	padding-top: 10px;
	background-color: #f0ede8;
	padding-bottom: 10px;
}
.news{
	border-top: 1px solid silver;
	padding-bottom: 15px;
	background-color: #f0ede8;
}
.blog-first{
	float: left;
	background-color: #dfdbd4;
	margin-right: 15px;
	span:last-child{
		float: left;
		margin-right: 15px;
		margin-left: 15px;
		padding-bottom: 5px;
		text-align: justify;
	}
}
.blog-sekond{
	float: left;
	background-color: #dfdbd4;
	margin-right: 15px;
	span:last-child{
		float: left;
		margin-right: 15px;
		margin-left: 15px;
		padding-bottom: 5px;
		text-align: justify;
	}
}
.blog-third{
	float: left;
	padding-bottom: 15px;
	background-color: #dfdbd4;
	margin-left: 0;
	margin-right: 0;
}
.wraper-blog-first, .wraper-blog-sekond{
	padding-right: 0px !important;
}
.news-title{
	float: left;
	padding-top: 1vw;
	padding-left: 1vw;
	font-weight: 700;
}
.news-data-maseg{
	width: 100%;
	float: left;
}
.news-data{
	width: 	39px;
	height: 39px;
	background-color: #57c5a0;
	margin-left: 1vw;
	margin-top: 0.5vw;
	float: left;
	text-align: center;
	color: #fff;
	font-weight: 600;
	font-size: 1.4rem;
}
.news-maseg-title{
	width: 85%;
	margin-top: 0.2vw;
	float: left;
	font-size: 1.6rem;
	padding-left: 0.3vw;
	font-weight: 700;
}
.news-maseg{
	padding-left: 0.3vw;
	float: left;
	width: 85%;
}
//<Social>
.center-footer{
	background-color: #242424;
	a i{
		float: right;
		width: 32px;
		height: 32px;
		background-color: #2e2e2e;
		text-align: center;
		font-size: 2.1rem;
		margin-left: 3px;
		padding-top: 5px;
		color: #dfdbd4;
	}
	a i:hover{
	color: #57c5a0;
	transition: 0.5s ease-out;
	}
	input{
	color: #dfdbd4;
	background-color:#2e2e2e;
	border-radius: 0.1px;
	border: none;
	}
	span{
	background-color: #dfdbd4;
	border-radius: 0.1px;
	}
	span:last-child:hover{
	color: #57c5a0;
	transition: 0.5s ease-out;
	}
}
//<Widget>
.widget{
	background-color: #242424;
	color: #dfdbd4;
	padding-top: 13px;
	padding-bottom: 13px;
}
.widget-title{
	width: 100%;
	float: left;
	padding-bottom: 8px;
}
.widget-text{
	color: #57c5a0;
}
.foter-widget{
	float: left;
	img{
	 padding: 3px 2px 3px 3px;
	 border: 1px solid #242424;
 }
 img:hover{
 	border:1px solid #57c5a0;
 	transition: 0.5s ease-out;
 }
}
//<Footer>
.center-footer-botton{
	background-color: #2e2e2e;
	padding-top: 1vw;
	padding-bottom: 1vw;
}
.footer-designed{
	color: #dfdbd4;
}
.footer-map{
	float: right;
	margin-top: 1.3vw;
	a{
	text-decoration: none;
	color: #dfdbd4;
	}
	a:hover{
	color: #57c5a0;
	transition: 0.5s ease-out;
	text-decoration: none;
	}
}
@media only screen and (max-width: 320px){
	.center span{
		font-size:15px;
	}
	.news-data{
		height: 58px;
	}
	.foter-widget a:last-child{
		display: none;
	}
	.center-footer a i{
			float: left;
		}
	.center-footer-botton a{
		font-size: 8px !important;
	}
	.center-footer-botton span{
		font-size: 8px !important;
	}
}
@media only screen and (max-width: 375px){
	.center span{
		font-size:18px;
	}
	.f10, .f9{
		display: none;
	}
	.news-data{
		height: 58px;
	}
	.center-footer-botton a{
		font-size: 9px !important;
	}
	.center-footer-botton span{
		font-size: 9px !important;
	}
}
@media only screen and (max-width: 414px){
	.center span{
		font-size:18px;
	}
	.news-data{
		height: 58px;
	}
	.f10, .f9{
		display: none;
	}
}
@media only screen and (max-width: 768px){
	//<Collection>
	.nav-small{
		padding: 0px 15px 0px 30px !important;
	}
	.right{
		float: left !important;
	}
	.nav-i{
		width: 80px;
		border-left: none;
	}
	.item{
		border-right: none;
	}
	.top-collection-price{
		margin: 0 auto;
	}
	.top-collection-left{
		text-align: center;
	}
	.top-collection-social{
		display: none;
	}
	//<Social>
	.center-footer{
		display: none;
	}
	.f10, .f9{
		display: none;
	}
}
@media only screen and (max-width: 919px){
	.nav-i{
		width: 80px;
		border-left: none;
	}
	.item{
		border-right: none;
	}
}
